@charset "UTF-8";
body{
    background-color:#f5f5f5;
    font-family:Arial, sans-serif;
}

.login-card{
    width:400px;
    margin:70px auto;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

.escudo{
    text-align:center;
    font-size:50px;
}

h1{
    text-align:center;
    margin-bottom:10px;
}

.subtitle{
    text-align:center;
    color:gray;
    margin-bottom:20px;
}

.link-tabla{
    text-decoration:none;
}

.link-tabla:hover{
    text-decoration:underline;
}

.card{
    margin-top:20px;
}

table{
    background:white;
}

.btn{
    margin-top:10px;
}

.form-control,
.form-select{
    margin-bottom:10px;
}